.grid div:first-child {
  border-right: 2px dotted #7cb9e8;
}

h1,
h2 {
  margin: 1rem 0;
  padding: 1rem 0;
}

h1 span,
h2 span {
  font-weight: bold !important;
  border-bottom: 2px dotted #7cb9e8;
}

h3 {
  font-weight: bold !important;
  margin: 1rem 0 0.5rem 0.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

h3 + div {
  margin: 0.2rem 0 0.2rem 0.5rem;
}

h4 {
  font-weight: bold !important;
  margin: 1rem 0 0.3rem 1rem;
  padding: 0.3rem 0 0.3rem 1rem;
}

h4 + div {
  margin: 0.2rem 0 0.2rem 1rem;
}

h5 {
  font-weight: bold !important;
  margin: 1rem 0 0.3rem 1.5rem;
  padding: 0.3rem 0 0.3rem 1.5rem;
}

h5 + div {
  margin: 0.2rem 0 0.2rem 1.5rem;
}

ul {
  margin: 1rem 0;
  padding: 1rem 0;
}

ul.flat-list {
  display: inline-block;
}

ul.flat-list li {
  float: left;
  margin-right: 0.5rem;
}

ul.flat-list li:after {
  content: "\205D";
  padding-left: 0.5rem;
}

ul.flat-list li:last-child:after {
  content: "";
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}    

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: none;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 1.5em;
  background: white;
  display: block;
  text-shadow: 0 0 3px white;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #CCC;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media (max-width: 640px) {
  body {
    padding: 0.5rem;
  }

  .container {
    margin: 0 !important;
  }

  .grid div:first-child {
    border-right: 0px;
  }

  .modal__inner {
    width: 90%;
  }
}

@media print {
  @page {
    margin: 0.2cm;
  }

  body {
    font-size: 11px;
  }

  .container {
    margin: 0 !important;
  }

  .grid div {
    width: 100% !important;
  }

  h1,
  h2 {
    margin: 0.4rem 0;
    padding: 0.4rem 0;
  }

  h1,
  h2 {
    margin: 0.2rem 0;
    padding: 0.2rem 0;
  }

  .text-5xl {
    font-size: 1.5rem !important;
  }

  .text-4xl {
    font-size: 1.4rem !important;
  }

  .text-3xl {
    font-size: 1.3rem !important;
  }

  .text-2xl {
    font-size: 1.2rem !important;
  }

  .text-xl {
    font-size: 1.1rem !important;
  }
}
