<h2 class="pt-4">
  <span>About Me</span>
</h2>
<p>
  One of my favorite authors is Kurt Vonnegut. I've got a dachshund named
  <label class="cursor-pointer" for="modal">Neville</label> and I will show you a picture of him at the drop of a hat.
</p>

<input class="modal-state" id="modal" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal"></label>
    <img class="object-contain" src="/images/nev.jpg" loading="lazy" />
  </div>
</div>
