<h2>
    <span>Things I Love<span>
</h2>
<ul class="flat-list">
    <li>Vim</li>
    <li>Elixir</li>
    <li>Postgres</li>
    <li>Linux</li>
    <li>K8s</li>
    <li>Functional Languages</li>
    <li>Calvin and Hobbes</li>
    <li>Cycling</li>
</ul>

<h2>
    <span>Things I Use</span>
</h2>
<ul class="flat-list">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Typescript</li>
    <li>Go</li>
    <li>Ruby</li>
    <li>Java</li>
    <li>React</li>
    <li>SQL</li>
    <li>Git</li>
    <li>Erlang</li>
    <li>Zsh</li>
    <li>GraphQL</li>
    <li>and more...</li>
</ul>

<h2>
    <span>Things I Hate</span>
</h2>
<ul>
    <li>Cycling</li>
</ul>
